<?php

// ----- code donné carte et produit --- //


namespace App\Controller;

use App\Entity\Carte;
use App\Entity\Product;
use App\Entity\Menus;
use App\Repository\ProductRepository;
use App\Repository\CarteRepository;
use Doctrine\Persistence\ManagerRegistry;
use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Component\HttpFoundation\Response;
use Symfony\Component\Routing\Annotation\Route;

class CarteController extends AbstractController
{
    #[Route('/carte', name:'app_carte')]
   
    // ----- Cartes ----- //

    public function CreateCarte(ManagerRegistry $doctrine): Response
    {
  
          //----- Entrées ----- //
  
        $entree= new Carte();
        $entree->setCategory('Entrées');
  
        $product= new Product();
        $product->setName('Gravlax de Saumon');
        $product->setDescription('Jus de poire, basilic et passion, oeuf de truite');
        $product->setPrice('11');
        $product->setCategory($entree);
  
        $entityManager = $doctrine->getManager();
        $entityManager->persist($product);
        $entityManager->persist($entree);
  
        $product= new Product();
        $product->setName('Tourte de pomme de terre');
        $product->setDescription('Celeri et oignons caramelisés, sauce au parmesans et jus de champignon');
        $product->setPrice('9');
        $product->setCategory($entree);
  
        $entityManager = $doctrine->getManager();
        $entityManager->persist($product);
        $entityManager->persist($entree);
  
        $product= new Product();
        $product->setName('Balade Forestière');
        $product->setDescription('Poêlée de champignon, bouillon de chataignes, marrons et noisettes');
        $product->setPrice('9');
        $product->setCategory($entree);
  
        $entityManager = $doctrine->getManager();
        $entityManager->persist($product);
        $entityManager->persist($entree);
  
        $entityManager->flush();
  
          // ----- Plats ----- //
  
        $plat= new Carte();
        $plat->setCategory('Plats');
  
        $product= new Product();
        $product->setName('Risotto de Crozet');
        $product->setDescription('Parmesan, langoutisnes accompagnées de carottes, courgettes et tomates confites, mélange d\'herbes fraîches');
        $product->setPrice('20');
        $product->setCategory($plat);
  
        $entityManager = $doctrine->getManager();
        $entityManager->persist($product);
        $entityManager->persist($plat);
  
        $product= new Product();
        $product->setName('Onglet de veau');
        $product->setDescription('Polenta crémeuse, parmesan condiment à l\'ail et jus de veau');
        $product->setPrice('22');
        $product->setCategory($plat);
  
        $entityManager = $doctrine->getManager();
        $entityManager->persist($product);
        $entityManager->persist($plat);
  
  
        $product= new Product();
        $product->setName('Choux fleur roti');
        $product->setDescription('Yaourt tahini, quinoa à la mangue et curcuma, citron noir, amandes');
        $product->setPrice('17');
        $product->setCategory($plat);
  
        $entityManager = $doctrine->getManager();
        $entityManager->persist($product);
        $entityManager->persist($plat);
  
          $entityManager->flush();
  
          // ----- Deserts ----- //
  
        $desert= new Carte();
        $desert->setCategory('Déserts');

        $product= new Product();
        $product->setName('Gâteau de savoie revisité');
        $product->setDescription('Crème de caramel, raisins poêlées');
        $product->setPrice('8');
        $product->setCategory($desert);
        $entityManager = $doctrine->getManager();
        $entityManager->persist($product);
        $entityManager->persist($desert);

        $product= new Product();
        $product->setName('Pavlova');
        $product->setDescription('Chantilly maison, glace du moment et fruits de saison');
        $product->setPrice('9');
        $product->setCategory($desert);
        $entityManager = $doctrine->getManager();
        $entityManager->persist($product);
        $entityManager->persist($desert);

        $product= new Product();
        $product->setName('Crémeux chocolat');
        $product->setDescription('Guimauve citronnelle et crêpes dentelles');
        $product->setPrice('8');
        $product->setCategory($desert);
        $entityManager = $doctrine->getManager();
        $entityManager->persist($product);
        $entityManager->persist($desert);


        $entityManager->flush();

        return $this->render('carte/index.html.twig', [
            'controller_name' => 'CarteController',
        ]);
    
    }

    #[Route('/carte', name: 'app_carte')]
    public function index(CarteRepository $carteRepository): Response
    {
        return $this->render('carte/index.html.twig', [
            'Carte' => $carteRepository->findBy([])
        ]);
    }

}
 ------------------------------------------------------------------------------------------

 // ------ stockage code menus ------ //

 <?php

namespace App\Controller;

use App\Entity\Menus;
use App\Entity\Carte;
use App\Entity\Product;
use App\Repository\MenusRepository;
use App\Repository\CarteRepository;
use App\Repository\ProductRepository;
use Doctrine\Persistence\ManagerRegistry;
use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Component\HttpFoundation\Response;
use Symfony\Component\Routing\Annotation\Route;


class MenusController extends AbstractController
{
    #[Route('/Menus', name: 'menus')]
    // ----- Menus ----- //

    public function createMenus(ManagerRegistry $doctrine): Response
    {
        $menu = new Menus();
        $menu->setName('Menu midi');
        $menu->setDescription('Entrée au choix/plat du jour ou plat du jour/desert au choix');
        $menu->setPrice('20');

        $entityManager = $doctrine->getManager();
        $entityManager->persist($menu);
        $entityManager->flush();

        $menu = new Menus();
        $menu->setName('Menu soir');
        $menu->setDescription('Entrée - plat - desert au choix sur la carte');
        $menu->setPrice('30');

        $entityManager = $doctrine->getManager();
        $entityManager->persist($menu);
        $entityManager->flush();

        $menu = new Menus();
        $menu->setName('Menu Decouverte');
        $menu->setDescription('Entrée - plat poisson - plat viande - desert');
        $menu->setPrice('45');

        $entityManager = $doctrine->getManager();
        $entityManager->persist($menu);
        $entityManager->flush();

        

        return $this->render('menus/index.html.twig', [
            'controller_name' => 'MenusController',
        ]);
    }

    #[Route('/menus', name: 'app_menus')]
        public function menus(MenusRepository $menusRepository): Response
        {
            
            return $this->render('menus/index.html.twig', [
                'Menus' => $menusRepository->findBy([], 
                ['id' => 'asc'])
            ]);
        }
}

----------------------------------------------------------------------------------------

// ------ code index/menus ----- //

{% extends 'base.html.twig' %}

{% block title %}Hello MenusController!
{% endblock %}

{% block body %}
	<main>
		<div class="wrapper">
			<div class="collapsible">
				<input type="checkbox" id="callapsible-carte">
				<label for="callapsible-carte">Carte</label>
				<div class="collapsible__text">
            
				</div>
			</div>
			<div class="collapsible">
				<input type="checkbox" id="callapsible-menu">
				<label for="callapsible-menu">menus</label>
				<div class="collapsible__text">
					<div>
						{% for menu in Menus %}
							{% if menu.id == 53 %}
								<h2>{{menu.name}}</h2>
								<div>
									<p>{{menu.price}}€</p>
								</div>
								<div>
									<p>{{menu.description}}</p>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					{% for menu in Menus %}
						{% if menu.id == 54 %}
							<h2>{{menu.name}}</h2>
							<div>
								<p>{{menu.price}}€</p>
							</div>
							<div>
								<p>{{menu.description}}</p>
							</div>
						{% endif %}
					{% endfor %}

					{% for menu in Menus %}
						{% if menu.id == 55 %}
							<h2>{{menu.name}}</h2>
						{% endif %}
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
</main>
{% endblock %}


------------------------------------------------------------------------------

// ----- code index/carte ----- //

{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}
<main>
		<div class="wrapper">   
            <div class="collapsible">
                <input type="checkbox" id="callapsible-carte">
                <label for="callapsible-carte">Carte</label>
                <div class="collapsible__text">
                <h2>{% for carte in Carte %}
                        {% if carte.id == 14 %}
                        <h2> {{carte.category}} </h2>
                        {% endif %}
                    {% endfor %}</h2>

                    <h2>{% for carte in Carte %}
                        {% if carte.id == 15 %}
                        <h2> {{carte.category}} </h2>
                        {% endif %}
                    {% endfor %}</h2>

                    <h2>{% for carte in Carte %}
                        {% if carte.id == 16 %}
                        <h2> {{carte.category}} </h2>
                        {% endif %}
                    {% endfor %}</h2>
                </div>
            </div>
        </div>
</main>
{% endblock %}